[submodule "lib/Libcurl"]
	path = lib/Libcurl
	url = git@github.com:dan-nl/Libcurl.git
[submodule "lib/W3C"]
	path = lib/W3C
	url = git@github.com:dan-nl/W3C.git
[submodule "lib/algoliasearch-client-php"]
	path = lib/algoliasearch-client-php
	url = git@github.com:algolia/algoliasearch-client-php.git
[submodule "lib/PHP-CLI-Progress-Bar"]
	path = lib/PHP-CLI-Progress-Bar
	url = git@github.com:guiguiboy/PHP-CLI-Progress-Bar.git
